{% extends "base.html" %}

{% block content %}
<main class="main main--about">
    <p>
        My name is Luca Binder and I am 25 years old. I grew up in the beautiful city of Lucerne, Switzerland where my
        interest in technology and IT developed from a young age. Currently, I am working as a software engineer in
        apprenticeship Way-Up for Sunrise.
    </p>
    <p>Aside from my passion for technology, I am also a photography enthusiast and love being in nature. I also have a
        deep love for traveling and exploring different parts of the globe. I am a big movie fan and enjoy immersing
        myself in different worlds and stories. I would describe myself as a creative and calm person who is always
        looking to learn and grow.
    </p>
    <p>
        In terms of coding, I use Python, Java, JavaScript and SQL. I am always looking to expand my skillset and
        explore new technologies.
    </p>
</main>
{% endblock %}