{% extends "base.html" %}

{% block content %}
<main class="main main--content">
    <dl>


        <div class="contact">
            <dt>Linkedin</dt>
            <dd class="contact_details">
                <a class="contact_link" href="https://www.linkedin.com/in/luca-binder-a9379a256/" target="_blank">
                    @luca-binder
                </a>
            </dd>
        </div>
        <div class="contact">
            <dt>GitHub</dt>
            <dd class="contact_details">
                <a class="contact_link" href="https://github.com/lucabindertbz" target="_blank">
                    @lucabindertbz
                </a>
            </dd>
        </div>
        <div class="contact">
            <dt>Instagram</dt>
            <dd class="contact_details">
                <a class="contact_link" href="https://www.instagram.com/lucadavidbinder" target="_blank">
                    @lucadavidbinder
                </a>
            </dd>
        </div>
        <div class="contact">
            <dt>Email</dt>
            <dd class="contact_details">
                <a class="contact_link" href="mailto:luca.binder.privat@gmail.com" target="_blank">
                    luca.binder.privat[at]gmail.com
                </a>
            </dd>
        </div>
    </dl>
</main>

{% endblock %}