{% extends 'base.html' %}
{% block content %}
    <main class="main main--project">
        <div>
            <img
                    class="hero"
                    src="{{ url_for('static', filename=project['hero']) }}"
                    alt="A hand holding a pen, about to write something in a project planner."
            />

            <article class="project">
                <article class="project__content">
                    <h2 class="project__heading">{{ project['name'] }}</h2>

                    <p>
                        This project is a Flask application that allows users to track their habits. It includes routes
                        for the home page, adding a habit, and marking a habit as complete.
                    </p>
                    <p>
                        The home page shows a list
                        of habits and allows the user to select a date to view habits for that day. The add a habit page
                        allows the user to add a new habit and the complete page allows the user to mark a habit as
                        complete for a specific date.
                    </p>
                    <p>
                        The code uses the datetime, uuid, and Flask libraries and uses a
                        MongoDB database to store information about habits and completions. The context processor
                        function date_range is used to calculate the date range.
                    </p>
                </article>

                <section>
                    <article class="project__meta-group">
                        <h3 class="project__heading project__heading--meta">Technologies used</h3>

                        <ul class="technology-list">
                            <li class="technology-list__item">Python</li>
                            <li class="technology-list__item">Flask</li>
                            <li class="technology-list__item">HTML</li>
                            <li class="technology-list__item">CSS</li>
                        </ul>
                    </article>

                    <a class="cta" href="{{ project['prod'] }}">
                        <img class="cta__icon" src="{{ url_for('static', filename='img/pointer.svg') }}">
                        View in production
                    </a>
                </section>
            </article>
        </div>
    </main>
{% endblock %}
